.div{
    height: 700px;
    width: 800px;
    border: 1px solid;
    margin: auto;
    padding: 10px;
    background-color: rgb(166, 243, 243);
    margin-top: 15px;

}
h1{
    text-align: center;
    color: rgb(143, 62, 250);
}
.head{
    border: 1px solid;
    background-color: rgb(253, 150, 150);
    font-size: 40px;
    color: rgb(255, 0, 140);
    border-radius: 20px;
}
img{
    margin-left: 225px;
}
p{
    margin-left: 325px;
    font-size: 20px;
}
.opt{
    margin-left: 225px;
}
span button{
    height: 40px;
    width: 100px;
    background-color: rgb(245, 37, 37);
    color: white;
    font-size: 15px;
}
.bt1{
    height: 30px;
    width: 90px;
    background-color: rgb(211, 247, 11);
    margin-left: 275px;
}
.bt2{
    height: 30px;
    width: 90px;
    background-color: rgb(211, 247, 11);
    margin-left: 20px;
}

